/**
 * Dujardin
 * 24 February 2016
 * MIT License
 * ===========
 * http://www.opensource.org/licenses/mit-license.php  MIT License
 * Copyright (c) 2016 Shan Dhiviyarajan (Shan) <prashasoft@gmail.com>
 * @category   SASS / CSS
 * @author     Shan Dhiviyarajan - prashasoft@gmail.com
 * @copyright  2016 Dujardin
 * @version    1.0.0
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300);
/**
 *Document fonts
 */
/**
* Document Colours
*/
/**
* SASS mixins 
*/
* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Open Sans", sans-serif;
  transition: .3s ease; }

body.not-front .home-slides {
  margin-bottom: 0px !important; }

button, a {
  outline: 0;
  text-decoration: none; }
  button:hover, button:focus, button:visited, a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: 0; }

a {
  -webkit-transition: all 300ms cubic-bezier(0.935, 0.155, 0.18, 0.715);
  -moz-transition: all 300ms cubic-bezier(0.935, 0.155, 0.18, 0.715);
  -o-transition: all 300ms cubic-bezier(0.935, 0.155, 0.18, 0.715);
  transition: all 300ms cubic-bezier(0.935, 0.155, 0.18, 0.715);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.935, 0.155, 0.18, 0.715);
  -moz-transition-timing-function: cubic-bezier(0.935, 0.155, 0.18, 0.715);
  -o-transition-timing-function: cubic-bezier(0.935, 0.155, 0.18, 0.715);
  transition-timing-function: cubic-bezier(0.935, 0.155, 0.18, 0.715);
  /* custom */ }

h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 24px;
  color: #000; }

h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 36px;
  color: #333; }

p {
  line-height: 1.6em;
  font-size: 14px;
  color: #333;
  margin: 0px; }

a.readmore {
  height: 50px;
  display: inline-block;
  margin: 30px 0px;
  font-size: 14px;
  text-align: center;
  color: #000;
  border: thin solid #000;
  padding: 15px 50px; }
  a.readmore:hover {
    background: #3d3425;
    color: #fff;
    border: thin solid #3d3425; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

input[type=number] {
  -moz-appearance: textfield; }

header #logo {
  width: 130px;
  display: block;
  margin: 40px auto; }
  header #logo img {
    width: 100%; }
header nav {
  text-align: center; }
  header nav ul {
    margin: 0px;
    padding: 0px;
    height: 56px; }
  header nav ul li {
    display: inline-block;
    border-top: thin solid #000;
    margin-left: -4px; }
    header nav ul li a {
      display: block;
      padding: 17px 30px 15px 30px;
      font-size: 14px;
      color: #000;
      position: relative;
      height: 56px;
      overflow: hidden;
      text-transform: uppercase; }
      header nav ul li a:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 56px;
        background: #000;
        top: 0px;
        left: 0px;
        -webkit-transform: translateY(60px);
        -moz-transform: translateY(60px);
        -ms-transform: translateY(60px);
        -o-transform: translateY(60px);
        transform: translateY(60px);
        -webkit-transition: all 300ms cubic-bezier(0.935, 0.155, 0.18, 0.715);
        -moz-transition: all 300ms cubic-bezier(0.935, 0.155, 0.18, 0.715);
        -o-transition: all 300ms cubic-bezier(0.935, 0.155, 0.18, 0.715);
        transition: all 300ms cubic-bezier(0.935, 0.155, 0.18, 0.715);
        /* custom */
        -webkit-transition-timing-function: cubic-bezier(0.935, 0.155, 0.18, 0.715);
        -moz-transition-timing-function: cubic-bezier(0.935, 0.155, 0.18, 0.715);
        -o-transition-timing-function: cubic-bezier(0.935, 0.155, 0.18, 0.715);
        transition-timing-function: cubic-bezier(0.935, 0.155, 0.18, 0.715);
        /* custom */ }
      header nav ul li a:hover {
        color: #fff; }
        header nav ul li a:hover:after {
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          -o-transform: translateY(0px);
          transform: translateY(0px); }
    header nav ul li a.active:after,
    header nav ul li a.current-menu-item:after {
      -webkit-transform: translateY(50px);
      -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -o-transform: translateY(50px);
      transform: translateY(50px);
      background: #3d3425; }
    header nav ul li a.active:hover,
    header nav ul li a.current-menu-item:hover {
      color: #fff; }
      header nav ul li a.active:hover:after,
      header nav ul li a.current-menu-item:hover:after {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); }
  header nav ul li.current-menu-item a.active:after,
  header nav ul li.current-menu-item a.current-menu-item:after {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    background: #3d3425; }
  header nav ul li.current-menu-item a.active:hover,
  header nav ul li.current-menu-item a.current-menu-item:hover {
    color: #fff; }
    header nav ul li.current-menu-item a.active:hover:after,
    header nav ul li.current-menu-item a.current-menu-item:hover:after {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); }

.home-slides {
  height: 630px;
  width: 100%;
  position: relative;
  margin-bottom: 100px; }
  .home-slides div.slide {
    height: 630px;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .home-slides div.slide img {
      width: 100%; }

.home-dujardin {
  height: 590px;
  background: url("../images/1.jpg") top left no-repeat;
  background-size: cover;
  position: relative; }
  .home-dujardin .col-md-5 > section {
    display: table;
    position: relative;
    height: 590px;
    max-width: 450px;
    margin: 0 auto; }
    .home-dujardin .col-md-5 > section > div {
      display: table-cell;
      vertical-align: middle; }
      .home-dujardin .col-md-5 > section > div h2 {
        margin: 0px 0px 30px 0px; }

.home-products > .row {
  margin: 0px;
  min-height: 480px; }
.home-products .side-image {
  width: 100%;
  height: 480px;
  position: relative; }
.home-products .col-md-6.white {
  background: #fff !important; }
.home-products .col-md-6 {
  padding: 0px; }
  .home-products .col-md-6 img {
    width: 100%;
    position: relative; }
  .home-products .col-md-6 > section {
    display: table;
    position: relative;
    height: 480px;
    max-width: 450px;
    margin: 0 auto; }
    .home-products .col-md-6 > section > div {
      display: table-cell;
      vertical-align: middle; }
      .home-products .col-md-6 > section > div h2 {
        margin: 0px 0px 30px 0px; }
.home-products .col-md-6.brown {
  background: #3d3425;
  position: relative; }
  .home-products .col-md-6.brown h2, .home-products .col-md-6.brown p, .home-products .col-md-6.brown a {
    color: #fff; }
  .home-products .col-md-6.brown a {
    border: thin solid #fff; }
    .home-products .col-md-6.brown a:hover {
      background: #fff;
      color: #3d3425; }

.home-services {
  padding: 100px 0px;
  background: url("../images/texture.jpg"); }
  .home-services img {
    display: block;
    width: 100%;
    position: relative; }
  .home-services h2 {
    text-align: center; }
  .home-services p {
    text-align: center;
    max-width: 450px;
    margin: 30px auto; }
  .home-services div.call {
    width: 160px;
    margin: 0 auto;
    text-align: center; }
    .home-services div.call span.icon-call {
      width: 50px;
      height: 50px;
      background: url("../images/icon-call.jpg") center center no-repeat;
      display: inline-block;
      float: left; }
    .home-services div.call a {
      color: #3d3425;
      float: left;
      font-weight: bold;
      font-size: 16px;
      border-bottom: 2px solid #3d3425;
      margin: 10px 0px 10px 15px; }

.home-contact {
  position: relative; }
  .home-contact .col-md-8 {
    padding: 0px; }
    .home-contact .col-md-8 #map-canvas {
      height: 390px;
      width: 100%;
      display: block;
      position: relative;
      background: #000; }
  .home-contact .col-md-4 {
    background: none;
    background-image: url("../images/rd.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px; }
    .home-contact .col-md-4 section {
      height: 390px;
      display: table;
      margin: 0 auto;
      width: 100%;
      background-color: rgba(61, 52, 37, 0.98); }
      .home-contact .col-md-4 section > div {
        display: table-cell;
        height: 390px;
        padding: 0px 80px 0px 80px;
        vertical-align: middle; }
        .home-contact .col-md-4 section > div h3 {
          margin: 0px 0px 30px 0px;
          font-family: "Yanone Kaffeesatz", sans-serif; }
        .home-contact .col-md-4 section > div h3, .home-contact .col-md-4 section > div p, .home-contact .col-md-4 section > div a {
          color: #fff; }
        .home-contact .col-md-4 section > div a {
          padding: 10px 0px;
          display: block; }
        .home-contact .col-md-4 section > div a.email {
          padding: 5px 0px 10px 0px;
          border-bottom: thin solid #fff;
          margin-bottom: 10px; }

.home-footer-image img {
  width: 100%; }
.home-footer-image p {
  padding-top: 30px;
  text-align: center; }
  .home-footer-image p img {
    display: block;
    margin: 60px auto 150px auto;
    width: 72px; }

#block-carousel {
  padding: 0px 0px;
  background: url("../images/texture.jpg");
  position: relative; }
  #block-carousel div.prev,
  #block-carousel div.next {
    position: absolute;
    z-index: 1500;
    top: 50%;
    margin-top: -40px;
    cursor: pointer; }
  #block-carousel div.prev {
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-left: 80px solid #3d3425;
    border-bottom: 80px solid transparent;
    left: 15px;
    transition: 0.3s ease; }
    #block-carousel div.prev:hover:after {
      right: 60px; }
    #block-carousel div.prev:after {
      content: "\f104";
      color: #fff;
      display: block;
      width: 44px;
      height: 44px;
      position: relative;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      right: 56px;
      font-size: 36px;
      top: -15px;
      transition: 0.3s ease; }
  #block-carousel div.next {
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-right: 80px solid #3d3425;
    border-bottom: 80px solid transparent;
    right: 0px;
    transition: 0.3s ease; }
    #block-carousel div.next:hover:after {
      left: 56px; }
    #block-carousel div.next:after {
      content: "\f105";
      color: #fff;
      display: block;
      width: 44px;
      height: 44px;
      position: relative;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: 0.3s ease;
      left: 48px;
      font-size: 36px;
      top: -15px; }

.services-carousel .owl-item > div > img {
  border: 8px solid transparent;
  width: 100%;
  display: block;
  margin: 0 auto;
  transition: 0.3s ease;
  transform: scale(1);
  opacity: 0.75; }
.services-carousel .owl-item {
  padding: 0px 30px; }
  .services-carousel .owl-item div.info {
    opacity: 0;
    transform: scale(0.5);
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .services-carousel .owl-item div.info h3, .services-carousel .owl-item div.info p {
      text-align: center; }
    .services-carousel .owl-item div.info img {
      display: block;
      margin: 0 auto; }
.services-carousel .owl-item.big > div > img {
  border: 8px solid #3d3425;
  transform: scale(1.15);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  opacity: 1; }
.services-carousel .owl-item.big div.info {
  opacity: 1;
  transform: scale(1);
  padding: 30px 0px 0px 0px; }
.services-carousel .owl-wrapper-outer {
  padding-top: 30px; }
.services-carousel .swiper-button-next,
.services-carousel .swiper-container-rtl .swiper-button-prev,
.services-carousel .swiper-button-prev {
  background-image: none !important; }
.services-carousel .swiper-slide {
  padding-top: 50px;
  transition: 0.3s ease; }
  .services-carousel .swiper-slide > img {
    transition: 0.3s ease;
    margin: 0 auto;
    display: block;
    transform: scale(1);
    opacity: 0.75; }
  .services-carousel .swiper-slide div.info {
    opacity: 0;
    transform: scale(0.5);
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .services-carousel .swiper-slide div.info h3, .services-carousel .swiper-slide div.info p {
      text-align: center; }
    .services-carousel .swiper-slide div.info img {
      display: block;
      margin: 0 auto; }
.services-carousel .swiper-slide.big > img {
  border: 8px solid #3d3425;
  transform: scale(1.15);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  opacity: 1; }
.services-carousel .swiper-slide.big div.info {
  opacity: 1;
  transform: scale(1);
  padding: 30px 0px 0px 0px; }

.welcome-text {
  padding: 60px 0px 60px 0px; }
  .welcome-text h2, .welcome-text p, .welcome-text a, .welcome-text h3 {
    text-align: center; }
  .welcome-text h2 {
    margin: 0px 0px 30px 0px; }
  .welcome-text a {
    color: #3d3425;
    display: block;
    text-align: center;
    font-weight: bold; }
  .welcome-text p {
    line-height: 1.6em; }
    .welcome-text p img {
      display: block;
      width: 48px;
      margin: 30px auto 15px auto; }

.fish, .net {
  position: absolute;
  right: 0px;
  top: 0px; }

.fish {
  left: 0px; }

.knife, .knife2 {
  position: absolute;
  left: 0px;
  top: 0px; }

.food1,
.food2 {
  position: absolute; }

.food1 {
  top: 350px;
  left: 0px; }

.food2 {
  right: 0px;
  top: 0px; }

section .row {
  position: relative; }

#service-list {
  position: relative; }
  #service-list div.item {
    border-bottom: thin solid #b0ada6;
    padding: 0px 0px 0px 0px;
    transition: 0.3s ease; }
    #service-list div.item a {
      display: block;
      padding: 15px 15px;
      font-size: 14px;
      color: #3d3425;
      text-align: center;
      background: transparent;
      -webkit-transform: 0.3s ease;
      -moz-transform: 0.3s ease;
      -ms-transform: 0.3s ease;
      -o-transform: 0.3s ease;
      transform: 0.3s ease;
      margin-bottom: 0px; }
      #service-list div.item a:hover {
        background: #3d3425;
        color: #fff; }
    #service-list div.item p {
      height: 0px;
      overflow: hidden;
      font-size: 14px;
      padding: 0px 30px;
      text-align: center; }
  #service-list div.item.opened {
    padding: 0px 0px 30px 0px; }
    #service-list div.item.opened a {
      background: #3d3425;
      color: #fff;
      margin-bottom: 15px; }
    #service-list div.item.opened p {
      height: auto;
      overflow: visible; }

#map-canvas-inside {
  height: 580px;
  position: relative;
  width: 100%;
  display: block; }

/**
* Footer styles
*/
footer {
  background: #fff;
  height: 80px;
  margin-top: 60px;
  padding-top: 15px; }
  footer .container {
    border-top: thin solid #000; }
  footer .col-md-3 {
    padding: 30px 0px;
    position: relative; }
  footer a {
    display: block;
    color: #3d3425; }
    footer a:hover {
      color: #999; }

.languages:hover ul {
  display: block;
  transform: scale(1);
  top: 33px;
  opacity: 1; }
.languages button {
  width: 80px;
  background: #fff;
  border: thin solid #d8d8d8;
  padding: 7px 7px 7px 7px; }
.languages img {
  float: left;
  margin-right: 5px;
  width: 25px; }
.languages ul {
  width: 80px;
  display: block !important;
  min-width: 80px;
  border: thin solid #d8d8d8;
  border-radius: 0px;
  padding: 0px;
  transition: 0.3s ease;
  transform: scale(0);
  transform-origin: 33px 0px;
  top: 0px;
  opacity: 0; }
  .languages ul li {
    display: block !important;
    float: none; }
    .languages ul li a {
      background: #fff;
      color: #999;
      padding: 7px 8px; }
      .languages ul li a:hover {
        color: #000;
        background: #eee; }

/**
Menu icon
*/
.menu-icon {
  position: absolute;
  width: 3em;
  height: 3em;
  border: thin solid #f1f1f1;
  cursor: pointer;
  display: inline-block;
  margin: 15px;
  top: 12px;
  left: 0px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7); }

.menu-icon span {
  display: block;
  width: 3em;
  height: 0.2em;
  border-radius: 1em;
  background: #333;
  position: absolute;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  top: 50%;
  margin-top: -0.2em; }

.menu-icon span:before,
.menu-icon span:after {
  display: block;
  width: 3em;
  height: 0.2em;
  border-radius: 1em;
  background: #333;
  position: absolute;
  content: '';
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right; }

.menu-icon span:before {
  top: -1em; }

.menu-icon span:after {
  top: 1em; }

.menu-icon-close span.lines {
  background: transparent; }

.menu-icon-close span:before {
  -webkit-transform: rotate(-45deg) translate3d(-3px, -4px, 0px);
  -ms-transform: rotate(-45deg) translate3d(-3px, -4px, 0px);
  -o-transform: rotate(-45deg) translate3d(-3px, -4px, 0px);
  transform: rotate(-45deg) translate3d(-3px, -4px, 0px); }

.menu-icon-close span:after {
  -webkit-transform: rotate(45deg) translate3d(-3px, 4px, 0px);
  -ms-transform: rotate(45deg) translate3d(-3px, 4px, 0px);
  -o-transform: rotate(45deg) translate3d(-3px, 4px, 0px);
  transform: rotate(45deg) translate3d(-3px, 4px, 0px); }

.container {
  width: 1230px;
  position: relative; }

#block-locale-language {
  position: absolute;
  top: 15px;
  right: 0px; }

.language-switcher-locale-url li {
  display: inline-block; }
  .language-switcher-locale-url li a {
    background: #fff;
    color: #000;
    display: block;
    font-size: 12px;
    padding: 7px;
    text-align: center;
    border-bottom: 2px solid #fff; }
    .language-switcher-locale-url li a:hover {
      background: #f1f1f1;
      border-bottom: 2px solid #3d3425; }
.language-switcher-locale-url li.active a {
  background: #f1f1f1;
  border-bottom: 2px solid #3d3425; }

@media (max-width: 1199px) {
  .container {
    width: 980px; } }
@media (max-width: 1023px) {
  .container {
    width: 750px; } }
@media (max-width: 767px) {
  .container {
    width: 100%; } }
/*/////////////////////////////////////////////////////////////*/
/*                     media queries                           */
/*/////////////////////////////////////////////////////////////*/
/* Large Desktops */
/*/////////////////////////////////////////////////////////////*/
/*                     Tablet Landscapes                       */
/*/////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////*/
/*                     Table Portrait                          */
/*/////////////////////////////////////////////////////////////*/
@media (max-width: 1023px) {
  header {
    height: auto; }

  header #logo {
    width: 120px;
    margin: 10px auto; }

  .home-dujardin .col-md-5 {
    background: rgba(255, 255, 255, 0.75); }

  footer .col-md-3 {
    padding: 15px 15px; }

  .knife, .knife2, .fish, .food1, .food2, .net {
    opacity: .25; } }
/*/////////////////////////////////////////////////////////////*/
/*                     Smart Phone                             */
/*/////////////////////////////////////////////////////////////*/
@media (max-width: 767px) {
  h2 {
    font-size: 28px; }

  header nav ul {
    height: auto; }

  header nav ul li {
    border: none;
    display: block; }

  header #logo img {
    width: 60%;
    display: block;
    margin: 0 auto; }

  header nav {
    display: none; }

  .home-products .col-md-6 > section > div h2 {
    padding: 0px 15px;
    text-align: center; }

  .home-products .col-md-6 > section > div p {
    text-align: center;
    padding: 0px 15px; }

  .home-dujardin .col-md-5 > section > div h2,
  .home-dujardin .col-md-5 > section > div p {
    text-align: Center; }

  .home-products .col-md-6 > section {
    height: 300px; }

  a.readmore {
    display: block;
    max-width: 280px;
    margin: 30px auto; }

  .home-footer-image p img {
    margin: 30px auto; }

  footer {
    margin-top: 30px; }

  .home-slides {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 100px; }
    .home-slides div.slide {
      height: auto;
      width: 100%;
      position: relative;
      overflow: hidden; }
      .home-slides div.slide img {
        width: 100%; }

  .services-carousel .swiper-slide > img {
    opacity: 1; }
  .services-carousel .swiper-slide {
    padding: 50px 30px 0px 30px; }
    .services-carousel .swiper-slide > img {
      max-width: 280px; }
    .services-carousel .swiper-slide div.info {
      opacity: 1;
      transform: scale(1); } }

/*# sourceMappingURL=main.css.map */
