/**
* SASS mixins 
*/


@mixin easing($t) {
    -webkit-transition: all $t cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all $t cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all $t cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all $t cubic-bezier(0.19, 1, 0.22, 1);
    transition: all $t cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
