@media (max-width: 767px) {
  h2 {
    font-size: 28px;
  }
  header nav ul {
    height: auto;
  }
  header nav ul li {
    border: none;
    display: block;

    a {
    }
  }
  header #logo img {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  header {
    nav {
      display: none;
    }
  }

  .home-products .col-md-6 > section > div h2 {
    padding: 0px 15px;
    text-align: center;
  }
  .home-products .col-md-6 > section > div p {
    text-align: center;
    padding: 0px 15px;

  }
  .home-dujardin .col-md-5 > section > div h2,
  .home-dujardin .col-md-5 > section > div p{
    text-align:Center;
  }
  .home-products .col-md-6 > section {
    height: 300px;
  }

  a.readmore {
    display: block;
    max-width: 280px;
    margin: 30px auto;
  }
  .home-footer-image p img {
    margin: 30px auto;
  }

  footer {
    margin-top: 30px;
  }

  .home-slides {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    div.slide {
      height: auto;
      width: 100%;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }

  .services-carousel {

    .swiper-slide > img {

      opacity: 1;
    }
    .swiper-slide {
      padding: 50px 30px 0px 30px;
      > img {
        max-width: 280px;

      }
      div.info {
        opacity: 1;
        transform: scale(1);

      }
    }
  }

} //end mobile media query//