@media (max-width: 1023px) {
  header {
    height: auto;
  }
  header #logo {
    width: 120px;
    margin: 10px auto;
  }
  .home-dujardin {
    .col-md-5 {
      background: rgba(255, 255, 255, 0.75);
    }
  }
  footer .col-md-3 {
    padding: 15px 15px;
  }

  .knife, .knife2, .fish, .food1, .food2, .net {
    opacity: .25;
  }
}//close medial query//
