/**
 * Dujardin
 * 24 February 2016
 * MIT License
 * ===========
 * http://www.opensource.org/licenses/mit-license.php  MIT License
 * Copyright (c) 2016 Shan Dhiviyarajan (Shan) <prashasoft@gmail.com>
 * @category   SASS / CSS
 * @author     Shan Dhiviyarajan - prashasoft@gmail.com
 * @copyright  2016 Dujardin
 * @version    1.0.0
 */

@import "fonts";
@import "variables";
@import "mixins";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: $primaryFont;
  transition: .3s ease;
}

body.not-front {
  .home-slides {
    margin-bottom: 0px !important;
  }
}

button, a {
  outline: 0;
  text-decoration: none;
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
    outline: 0;
  }
}

a {
  -webkit-transition: all 300ms cubic-bezier(0.935, 0.155, 0.180, 0.715);
  -moz-transition: all 300ms cubic-bezier(0.935, 0.155, 0.180, 0.715);
  -o-transition: all 300ms cubic-bezier(0.935, 0.155, 0.180, 0.715);
  transition: all 300ms cubic-bezier(0.935, 0.155, 0.180, 0.715); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.935, 0.155, 0.180, 0.715);
  -moz-transition-timing-function: cubic-bezier(0.935, 0.155, 0.180, 0.715);
  -o-transition-timing-function: cubic-bezier(0.935, 0.155, 0.180, 0.715);
  transition-timing-function: cubic-bezier(0.935, 0.155, 0.180, 0.715); /* custom */
}

h3 {
  font-family: $font2;
  font-size: 24px;
  color: #000;
}

h2 {
  font-family: $font2;
  font-size: 36px;
  color: #333;
}

p {
  line-height: 1.6em;
  font-size: 14px;
  color: #333;
  margin: 0px;
}

a.readmore {
  height: 50px;
  display: inline-block;
  margin: 30px 0px;
  font-size: 14px;
  text-align: center;
  color: #000;
  border: thin solid #000;
  padding: 15px 50px;

  &:hover {
    background: $brown;
    color: #fff;
    border: thin solid $brown;

  }

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

header {
  #logo {
    width: 130px;
    display: block;
    margin: 40px auto;
    img {
      width: 100%;
    }
  }

  nav {
    text-align: center;

    ul {
      margin: 0px;
      padding: 0px;
      height: 56px;

    }
    ul li {

      display: inline-block;
      border-top: thin solid #000;
      margin-left: -4px;
      a {
        display: block;
        padding: 17px 30px 15px 30px;
        font-size: 14px;
        color: #000;
        position: relative;
        height: 56px;
        overflow: hidden;
        text-transform: uppercase;

        &:after {
          z-index: -1;
          content: '';
          position: absolute;
          width: 100%;
          height: 56px;
          background: #000;
          top: 0px;
          left: 0px;
          -webkit-transform: translateY(60px);
          -moz-transform: translateY(60px);
          -ms-transform: translateY(60px);
          -o-transform: translateY(60px);
          transform: translateY(60px);
          -webkit-transition: all 300ms cubic-bezier(0.935, 0.155, 0.180, 0.715);
          -moz-transition: all 300ms cubic-bezier(0.935, 0.155, 0.180, 0.715);
          -o-transition: all 300ms cubic-bezier(0.935, 0.155, 0.180, 0.715);
          transition: all 300ms cubic-bezier(0.935, 0.155, 0.180, 0.715); /* custom */

          -webkit-transition-timing-function: cubic-bezier(0.935, 0.155, 0.180, 0.715);
          -moz-transition-timing-function: cubic-bezier(0.935, 0.155, 0.180, 0.715);
          -o-transition-timing-function: cubic-bezier(0.935, 0.155, 0.180, 0.715);
          transition-timing-function: cubic-bezier(0.935, 0.155, 0.180, 0.715); /* custom */
        }

        &:hover {
          color: #fff;
          &:after {
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
          }
        }
      }

      a.active,
      a.current-menu-item {
        &:after {
          -webkit-transform: translateY(50px);
          -moz-transform: translateY(50px);
          -ms-transform: translateY(50px);
          -o-transform: translateY(50px);
          transform: translateY(50px);
          background: $brown;
        }

        &:hover {
          color: #fff;

          &:after {
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
          }
        }
      }
    }

    ul li.current-menu-item {
      a.active,
      a.current-menu-item {
        &:after {
          -webkit-transform: translateY(50px);
          -moz-transform: translateY(50px);
          -ms-transform: translateY(50px);
          -o-transform: translateY(50px);
          transform: translateY(50px);
          background: $brown;
        }

        &:hover {
          color: #fff;
          &:after {
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
          }
        }
      }
    }
  }

}

.home-slides {
  height: 630px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  div.slide {
    height: 630px;
    width: 100%;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

.home-dujardin {
  height: 590px;
  background: url('../images/1.jpg') top left no-repeat;
  background-size: cover;
  position: relative;
  .col-md-5 {
    > section {
      display: table;
      position: relative;
      height: 590px;
      max-width: 450px;
      margin: 0 auto;
      > div {
        display: table-cell;
        vertical-align: middle;
        h2 {
          margin: 0px 0px 30px 0px;
        }
      }
    }
  }
}

.home-products {
  > .row {
    margin: 0px;
    min-height: 480px;
  }
  .side-image {
    width: 100%;
    height: 480px;
    position: relative;
  }
  .col-md-6.white {
    background: #fff !important;
  }
  .col-md-6 {
    padding: 0px;

    img {
      width: 100%;
      position: relative;
    }
    > section {
      display: table;
      position: relative;
      height: 480px;
      max-width: 450px;
      margin: 0 auto;
      > div {
        display: table-cell;
        vertical-align: middle;
        h2 {
          margin: 0px 0px 30px 0px;
        }
      }
    }
  }
  .col-md-6.brown {
    background: $brown;
    position: relative;
    h2, p, a {
      color: #fff;
    }
    a {
      border: thin solid #fff;
      &:hover {
        background: #fff;
        color: $brown;
      }
    }
  }
}

.home-services {
  padding: 100px 0px;
  background: url('../images/texture.jpg');
  img {
    display: block;
    width: 100%;
    position: relative;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    max-width: 450px;
    margin: 30px auto;
  }
  div.call {
    width: 160px;
    margin: 0 auto;
    text-align: center;
    span.icon-call {
      width: 50px;
      height: 50px;
      background: url('../images/icon-call.jpg') center center no-repeat;
      display: inline-block;
      float: left;
    }

    a {
      color: $brown;
      float: left;
      font-weight: bold;
      font-size: 16px;
      border-bottom: 2px solid $brown;
      margin: 10px 0px 10px 15px;
    }
  }
}

.home-contact {
  position: relative;
  .col-md-8 {
    padding: 0px;
    #map-canvas {
      height: 390px;
      width: 100%;
      display: block;
      position: relative;
      background: #000;
    }
  }

  .col-md-4 {
    background: none;
    background-image: url("../images/rd.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;

    section {
      height: 390px;
      display: table;
      margin: 0 auto;
      width: 100%;

      background-color: rgba(61, 52, 37, 0.98);

      > div {
        display: table-cell;
        height: 390px;
        padding: 0px 80px 0px 80px;
        vertical-align: middle;
        h3 {
          margin: 0px 0px 30px 0px;
          font-family: $font2;
        }

        h3, p, a {
          color: #fff;
        }
        a {
          padding: 10px 0px;
          display: block;
        }
        a.email {
          padding: 5px 0px 10px 0px;
          border-bottom: thin solid #fff;
          margin-bottom: 10px;
        }
      }
    }

  }
}

.home-footer-image {
  img {
    width: 100%;
  }

  p {
    padding-top: 30px;
    text-align: center;
    img {
      display: block;
      margin: 60px auto 150px auto;
      width: 72px;
    }
  }
}

#block-carousel {
  padding: 0px 0px;
  background: url('../images/texture.jpg');
  position: relative;
  div.prev,
  div.next {
    position: absolute;
    z-index: 1500;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;

  }
  div.prev {
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-left: 80px solid $brown;
    border-bottom: 80px solid transparent;
    left: 15px;
    transition: 0.3s ease;

    &:hover {

      &:after {
        right: 60px;
      }
    }

    &:after {
      content: "\f104";
      color: #fff;
      display: block;
      width: 44px;
      height: 44px;
      position: relative;
      font: normal normal normal 14px/1 FontAwesome;;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      right: 56px;
      font-size: 36px;
      top: -15px;
      transition: 0.3s ease;
    }

  }

  div.next {
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-right: 80px solid $brown;
    border-bottom: 80px solid transparent;
    right: 0px;
    transition: 0.3s ease;
    &:hover {
      &:after {
        left: 56px;
      }
    }

    &:after {
      content: "\f105";
      color: #fff;
      display: block;
      width: 44px;
      height: 44px;
      position: relative;
      font: normal normal normal 14px/1 FontAwesome;;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: 0.3s ease;

      left: 48px;
      font-size: 36px;
      top: -15px;
    }
  }
}

.services-carousel {
  .owl-item > div > img {
    border: 8px solid transparent;
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: 0.3s ease;
    transform: scale(1.0);
    opacity: 0.75;
  }
  .owl-item {
    padding: 0px 30px;

    div.info {
      opacity: 0;
      transform: scale(0.5);
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;

      h3, p {
        text-align: center;
      }

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  .owl-item.big {
    > div > img {
      border: 8px solid $brown;
      transform: scale(1.15);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      opacity: 1;
    }

    div.info {
      opacity: 1;
      transform: scale(1);
      padding: 30px 0px 0px 0px;
    }
  }
  .owl-wrapper-outer {
    padding-top: 30px;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev,
  .swiper-button-prev{
    background-image: none !important;
  }

  .swiper-slide {
    padding-top: 50px;
    transition: 0.3s ease;




    > img {    transition: 0.3s ease;
      margin: 0 auto;
      display: block;
      transform: scale(1.0);
      opacity: 0.75;
    }

    div.info{
      opacity: 0;
      transform: scale(0.5);
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;

      h3, p {
        text-align: center;
      }

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  .swiper-slide.big {
   > img {
      border: 8px solid $brown;
      transform: scale(1.15);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      opacity: 1;
    }

    div.info {
      opacity: 1;
      transform: scale(1);
      padding: 30px 0px 0px 0px;
    }
  }
}

.welcome-text {
  padding: 60px 0px 60px 0px;
  h2, p, a, h3 {
    text-align: center;

  }
  h2 {
    margin: 0px 0px 30px 0px;
  }

  a {
    color: $brown;
    display: block;
    text-align: center;
    font-weight: bold;
  }
  p {
    line-height: 1.6em;

    img {
      display: block;
      width: 48px;
      margin: 30px auto 15px auto;
    }
  }

}

.fish, .net {
  position: absolute;
  right: 0px;
  top: 0px;
}

.fish{
  left:0px;
}

.knife, .knife2 {
  position: absolute;
  left: 0px;
  top: 0px;
}

.food1,
.food2 {
  position: absolute;
}

.food1 {
  top: 350px;
  left: 0px;
}

.food2 {
  right: 0px;
  top: 0px;
}

section .row {
  position: relative;
}

#service-list {
  position: relative;
  div.item {
    border-bottom: thin solid #b0ada6;
    padding: 0px 0px 0px 0px;
    transition: 0.3s ease;
    a {
      display: block;
      padding: 15px 15px;
      font-size: 14px;
      color: $brown;
      text-align: center;
      background: transparent;
      -webkit-transform: 0.3s ease;
      -moz-transform: 0.3s ease;
      -ms-transform: 0.3s ease;
      -o-transform: 0.3s ease;
      transform: 0.3s ease;
      margin-bottom: 0px;

      &:hover {
        background: $brown;
        color: #fff;
      }
    }

    p {
      height: 0px;
      overflow: hidden;
      font-size: 14px;
      padding: 0px 30px;
      text-align: center;
    }
  }
  div.item.opened {
    padding: 0px 0px 30px 0px;
    a {
      background: $brown;
      color: #fff;
      margin-bottom: 15px;
    }

    p {
      height: auto;
      overflow: visible;
    }
  }
}

#map-canvas-inside {
  height: 580px;
  position: relative;
  width: 100%;
  display: block;
}

/**
* Footer styles
*/

footer {
  background: #fff;
  height: 80px;
  margin-top: 60px;
  padding-top: 15px;

  .container {
    border-top: thin solid #000;
  }

  .col-md-3 {
    padding: 30px 0px;
    position: relative;
  }

  a {
    display: block;
    color: $brown;

    &:hover {
      color: #999;
    }
  }
}

.languages {

  &:hover {

    ul {
      display: block;
      transform: scale(1);
      top: 33px;
      opacity: 1;
    }
  }
  button {
    width: 80px;
    background: #fff;
    border: thin solid #d8d8d8;
    padding: 7px 7px 7px 7px;

  }
  img {
    float: left;
    margin-right: 5px;
    width: 25px;
  }

  ul {
    width: 80px;
    display: block !important;
    min-width: 80px;
    border: thin solid #d8d8d8;
    border-radius: 0px;
    padding: 0px;
    transition: 0.3s ease;
    transform: scale(0);
    transform-origin: 33px 0px;
    top: 0px;
    opacity: 0;

    li {

      display: block !important;
      float: none;
      a {
        background: #fff;
        color: #999;
        padding: 7px 8px;

        &:hover {
          color: #000;
          background: #eee;
        }
      }
    }
  }
}

/**
Menu icon
*/

.menu-icon {
  position: absolute;
  width: 3em;
  height: 3em;
  border: thin solid #f1f1f1;
  cursor: pointer;
  display: inline-block;
  margin: 15px;
  top: 12px;
  left: 0px;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);

}

.menu-icon span {
  display: block;
  width: 3em;
  height: 0.2em;
  border-radius: 1em;
  background: #333;
  position: absolute;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  top: 50%;
  margin-top: -0.2em;
}

.menu-icon span:before,
.menu-icon span:after {
  display: block;
  width: 3em;
  height: 0.2em;
  border-radius: 1em;
  background: #333;
  position: absolute;
  content: '';
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}

.menu-icon span:before {
  top: -1em;
}

.menu-icon span:after {
  top: 1em;
}

.menu-icon-close span.lines {
  background: transparent;
}

.menu-icon-close span:before {
  -webkit-transform: rotate(-45deg) translate3d(-3px, -4px, 0px);
  -ms-transform: rotate(-45deg) translate3d(-3px, -4px, 0px);
  -o-transform: rotate(-45deg) translate3d(-3px, -4px, 0px);
  transform: rotate(-45deg) translate3d(-3px, -4px, 0px);
}

.menu-icon-close span:after {
  -webkit-transform: rotate(45deg) translate3d(-3px, 4px, 0px);
  -ms-transform: rotate(45deg) translate3d(-3px, 4px, 0px);
  -o-transform: rotate(45deg) translate3d(-3px, 4px, 0px);
  transform: rotate(45deg) translate3d(-3px, 4px, 0px);
}
.container {
  width: 1230px;
  position: relative;
}
#block-locale-language {
  position: absolute;
  top: 15px;
  right: 0px;
}
.language-switcher-locale-url {
  li {
    display: inline-block;
    a {
      background: #fff;
      color: #000;
      display: block;
      font-size: 12px;
      padding: 7px;
      text-align: center;
      border-bottom: 2px solid #fff;

      &:hover {
        background: #f1f1f1;
        border-bottom: 2px solid $brown;
      }
    }
  }


  li.active {
    a {
      background: #f1f1f1;
      border-bottom: 2px solid $brown;
    }
  }
}

@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1390px) {
}

@media (max-width: 1199px) {
  .container {
    width: 980px;
  }
}

@media (max-width: 1023px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}


/*/////////////////////////////////////////////////////////////*/
/*                     media queries                           */
/*/////////////////////////////////////////////////////////////*/

@import "small-desktop";

/*/////////////////////////////////////////////////////////////*/
/*                     Tablet Landscapes                       */
/*/////////////////////////////////////////////////////////////*/

@import "tablet-landscape";

/*/////////////////////////////////////////////////////////////*/

/*                     Table Portrait                          */

/*/////////////////////////////////////////////////////////////*/

@import "tablet-portrait";

/*/////////////////////////////////////////////////////////////*/
/*                     Smart Phone                             */
/*/////////////////////////////////////////////////////////////*/

@import "smart-phone";